<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SELENIUM_GRID_URL" value="http://localhost:4444/wd/hub" />
    <add key="BROWSER" value="Chrome" />

    <add key="REPORT_IS_KLOV" value="0" />
    <add key="VIDEO_RECORDING_ENABLED" value="0" />
    <add key="REPORT_FILE_PATH" value="C:\Warley\evidencias\relatorios" />
    <add key="REPORT_DOCUMENT_TITLE" value="Base2 - Mantis" />
    <add key="REPORT_NAME" value="Testes Funcionais Automatizados" />
    <add key="EMAIL_DESTINATIONS" value="warley.lopes@oletecnologia.com.br" />
    <add key="EMAIL_BODY" value="Obs.: Esse e-mail foi gerado automaticamente após execução dos testes do relatório em anexo." />

    <add key="URL_BASE" value="https://www.mantisbt.org/bugs/login_page.php" />
    <add key="DEFAULT_TIMEOUT" value="30" />
    <add key="USERNAME" value="administrator" />
    <add key="PASSWORD" value="root" />
    <add key="EMAIL" value="root@localhost" />
  </appSettings>
</configuration>