<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings xdt:Transform="Insert">
    <add key="SELENIUM_GRID_URL" value="http://localhost:4444/wd/hub" />
    <add key="BROWSER" value="Chrome" />
    <add key="REPORT_IS_KLOV" value="0" />
    <add key="VIDEO_RECORDING_ENABLED" value="0" />
    <add key="REPORT_FILE_PATH" value="C:\Warley\evidencias\relatorios\" />
    <add key="REPORT_DOCUMENT_TITLE" value="Base2 - Mantis" />
    <add key="REPORT_NAME" value="Testes Funcionais Automatizados" />
    <add key="EMAIL_DESTINATIONS" value="warley.lopes@oletecnologia.com.br" />
    <add key="EMAIL_BODY" value="Obs.: Esse e-mail foi gerado automaticamente após execução dos testes do relatório em anexo." />
    <add key="URL_BASE" value="https://www.mantisbt.org/bugs/login_page.php" />
    <add key="DEFAULT_TIMEOUT" value="30" />
    <add key="USERNAME" value="administrator" />
    <add key="PASSWORD" value="root" />
    <add key="EMAIL" value="root@localhost" />
  </appSettings>
  <connectionStrings xdt:Transform="Insert">
    <add name="DatabaseConnectionString" connectionString="MantisTestAutomation;Data Source=Base2SqlQa;Initial Catalog=MANTIS;Integrated Security=True;" />
    <!--<add name="DatabaseConnectionString" connectionString="MantisTestAutomation;Data Source=Base2SqlQa;Initial Catalog=MANTIS;user=BASE2_SQL_QA;password=BASE2;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>